PEPPER_Shopping_Bot.json
[{"id":"8fbdc687.0ee218","type":"tab","label":"Flow Pepper","disabled":false,"info":""},{"id":"493bd8c7.e8e3a8","type":"watson-conversation-v1","z":"8fbdc687.0ee218","name":"PEPPER","workspaceid":"1207dd4b-dc9f-4e53-bef7-755faffe4ee7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/d130743d-702a-4684-a359-73e6e979f391","timeout":"","optout-learning":false,"x":440,"y":120,"wires":[["1ba7e528.1d395b"]]},{"id":"c1e4c20f.03997","type":"inject","z":"8fbdc687.0ee218","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":170,"y":100,"wires":[["493bd8c7.e8e3a8"]]},{"id":"49df1382.b6bb0c","type":"debug","z":"8fbdc687.0ee218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":160,"wires":[]},{"id":"1ba7e528.1d395b","type":"function","z":"8fbdc687.0ee218","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://i.ibb.co/XZ13xj6/welcome1.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":140,"wires":[["49df1382.b6bb0c","17a77ab2.95b1e5","9cb78040.e272a","266de15b.d44e1e"]]},{"id":"e02d3964.cba0b8","type":"ui_form","z":"8fbdc687.0ee218","name":"","label":"","group":"2feeab1.3eb8654","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["44193f7f.e3244"]]},{"id":"44193f7f.e3244","type":"function","z":"8fbdc687.0ee218","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["493bd8c7.e8e3a8","52fd8fee.40ba6"]]},{"id":"52fd8fee.40ba6","type":"ui_text","z":"8fbdc687.0ee218","group":"2feeab1.3eb8654","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"17a77ab2.95b1e5","type":"ui_text","z":"8fbdc687.0ee218","group":"2feeab1.3eb8654","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"9cb78040.e272a","type":"ui_audio","z":"8fbdc687.0ee218","name":"","group":"2feeab1.3eb8654","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"266de15b.d44e1e","type":"ui_template","z":"8fbdc687.0ee218","group":"2feeab1.3eb8654","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":120,"wires":[[]]},{"id":"2feeab1.3eb8654","type":"ui_group","z":"","name":"Chatbot","tab":"7a0c97fd.c1abb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"7a0c97fd.c1abb8","type":"ui_tab","z":"","name":"PEPPER Bot","icon":"dashboard","disabled":false,"hidden":false}]