shopping_bot_flows.json
[{"id":"866fe330.25ee7","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9131ee4.b9ac71","type":"watson-conversation-v1","z":"866fe330.25ee7","name":"PEPPER","workspaceid":"1207dd4b-dc9f-4e53-bef7-755faffe4ee7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/d130743d-702a-4684-a359-73e6e979f391","timeout":"","optout-learning":false,"x":440,"y":120,"wires":[["c67462c8.f8b12"]]},{"id":"49cbf476.5ebdcc","type":"inject","z":"866fe330.25ee7","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":170,"y":100,"wires":[["9131ee4.b9ac71"]]},{"id":"ebe05556.855f18","type":"debug","z":"866fe330.25ee7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"c67462c8.f8b12","type":"function","z":"866fe330.25ee7","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://i.ibb.co/XZ13xj6/welcome1.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":140,"wires":[["ebe05556.855f18","b90432eb.a5511","52d67e70.f803b","b490e8be.d112c8"]]},{"id":"a6fd3917.2b33a8","type":"ui_form","z":"866fe330.25ee7","name":"","label":"","group":"2feeab1.3eb8654","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["1f5c6b00.8aa625"]]},{"id":"1f5c6b00.8aa625","type":"function","z":"866fe330.25ee7","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["9131ee4.b9ac71","d3f714d4.d840b8"]]},{"id":"d3f714d4.d840b8","type":"ui_text","z":"866fe330.25ee7","group":"2feeab1.3eb8654","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"b90432eb.a5511","type":"ui_text","z":"866fe330.25ee7","group":"2feeab1.3eb8654","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"52d67e70.f803b","type":"ui_audio","z":"866fe330.25ee7","name":"","group":"2feeab1.3eb8654","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"b490e8be.d112c8","type":"ui_template","z":"866fe330.25ee7","group":"2feeab1.3eb8654","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":120,"wires":[[]]},{"id":"2feeab1.3eb8654","type":"ui_group","z":"","name":"Chatbot","tab":"7a0c97fd.c1abb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"7a0c97fd.c1abb8","type":"ui_tab","z":"","name":"Resto Bot","icon":"dashboard","disabled":false,"hidden":false}]